.blue {
    background-color : #ffffff;
}

.btn-darkgrey {
    background-color: #3a3a3a;
    color: #ffffff;
    outline-color: #3a3a3a;
}

.bg {
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.btn-outline-warning {
    --bs-btn-color: #daab65;!important;
    --bs-btn-border-color: #daab65;!important;
    --bs-btn-hover-bg: #daab65;!important;
    --bs-btn-hover-border-color: #daab65;!important;
    --bs-btn-active-bg: #daab65;!important;
    --bs-btn-active-border-color: #daab65;!important;
    --bs-btn-active-color: #ffffff;
}

.btn-outline-danger {
    --bs-btn-color: #bb615e;!important;
    --bs-btn-border-color: #bb615e;!important;
    --bs-btn-hover-bg: #bb615e;!important;
    --bs-btn-hover-border-color: #bb615e;!important;
    --bs-btn-active-bg: #bb615e;!important;
    --bs-btn-active-border-color: #bb615e;!important;
}

.btn-outline-success {
    --bs-btn-color: #6dad53;!important;
    --bs-btn-border-color: #6dad53;!important;
    --bs-btn-hover-bg: #6dad53;!important;
    --bs-btn-hover-border-color: #6dad53;!important;
    --bs-btn-active-bg: #6dad53;!important;
    --bs-btn-active-border-color: #6dad53;!important;
}

.navbarpadding {
    padding-left: 20px;
    padding-right: 10px;
}

.roundcorner-dis {
    border-radius: 30px;

}

.glowborder {
    border: 2px solid #bff7ff;
}

.title {
    font-size: 35px;
}

.nav-link {
    font-size: 20px;
}

footer {
    bottom: 0;
    text-align: center;
    padding-top: 10px;
    left: 7%;
}

.btn-darkgrey:hover {
    background-color:#86f4ff;
    transition: 0.4s;
}

.nav-link:hover {
    color: #86f4ff;

}

.custom-select {
    border-radius: 0;!important;
    background-color: white;
    border-width: 2px;
    border-color: #8abcc5;
}

.custom-select:hover{
    /*width: 102%;
    transition: 0.4s; */
    box-shadow: 0 0 10px 100px #8abcc5 inset;
}

.customSelectContainer {
    margin-top: 30px;
    padding: 100px 100px 50px 100px;
}

.profile-card {
    margin: auto;
    width: 50%;
    border: 5px solid #8abcc5;
}

.list-group-item {
    border: none;
}

.profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 50px;
}

/* Two Column Layout (e.g. Profile, Profile Settings) */
.column {
    float: left;
    width: 50%;
}

/* Three Column Layout (e.g. Add new job) */
.column3 {
    float: left;
    width: 330px;
    margin: 20px;
}

.row {
    margin: 0 0 30px 0;
}

.row3 {
    margin: 0;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.row3:after{
    content: "";
    display: table;
    clear: both;
}

#submitButtonPrax {
    width: 88%;
    padding: 2px;
    height: 46px;
    background-color: #8abcc5;
    border: none;
    border-radius: 0;
    margin-top: 30px;
    color: white;
}

#submitButtonPrax:hover {
    background-color: #60a5b2;
}

.add-new-job-save {
    width: 100%;
    padding: 2px;
    height: 46px;
    background-color: #8abcc5;
    border: none;
    border-radius: 0;
    margin-top: 30px;
    color: white;
}

.add-new-job-save:hover {
    background-color: #60a5b2;
    color: white;
}

input {
    width: 100%;
    padding: 5px;
    height: 46px;
    background-color: white;
    border-color: #8abcc5;!important;
}

.delete-button {
    background-color: #9d2f39;
    color: white;
    border: none;
    padding: 5px;
}

.modal {
    left: 30%;
    top: 15%;
    width: 40%;
}

.modal-content {
    background-color: #bfc6c7;
}

.close {
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 95%;
}

#feedbackForm {
    top: 10px;!important;
}

textarea {
    border-radius: 0;!important;
    border-width: 2px;
    border-color: #8abcc5;
    width: 100%;
    height: 100px;
    background-color: white;
    padding: 5px;
}

.feedback_design {
    margin: auto;
    width: 450px;
    border: none;
    padding: 10px;
}

.feedback_send_button {
    width: 400px;
    padding: 2px;
    height: 46px;
    background-color: #8abcc5;
    border: none;
    border-radius: 0;
    margin-top: 30px;
    margin-left: 15px;
    color: white;
}

.feedback_send_button:hover {
    background-color: #60a5b2;
}

/* Responsivity */
@media screen and (max-width: 800px) {
    .custom-select {
        width: 100%;
    }
    .customSelectContainer {
        padding: 100px 10px 50px 10px;
    }
    .column {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        margin-bottom: 20px;
        border-width: 4px;
        border-color: #0a53be;
    }
    .profile-card {
        border: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
    }
    .column3 {
        margin-bottom: 50px;
    }
    .modal{
        left: 0%;
        top: 25%;
        width: 100%;
    }
    .feedback_design {
        width: 100%;
    }
    .feedback_send_button {
        width: 93%;
    }
}


