.blue {
    background-color : #ffffff;
}

.btn-darkgrey {
    background-color: #3a3a3a;
    color: #ffffff;
    outline-color: #3a3a3a;
}

.bg {

    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.navbarpadding {
    padding-left: 20px;
    padding-right: 10px;
}

.roundcorner-dis {
    border-radius: 30px;

}

.glowborder {
    border: 2px solid #bff7ff;
}

.title {
    font-size: 35px;
}

.nav-link {
    font-size: 20px;
}

footer {
    bottom: 0;
    text-align: center;
    padding-top: 10px;
    left: 7%;
}

.btn-darkgrey:hover {
    background-color:#86f4ff;
    transition: 0.4s;
}

.nav-link:hover {
    color: #86f4ff;

}

.custom-select {
    border-radius: 0;!important;
    background-color: #dcdcdc;
}

.custom-select:hover{
    width: 102%;
    transition: 0.4s;
    box-shadow: 0 0 10px 100px #8abcc5 inset;
}


